/*Fichier CSS perso*/

@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900';
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');
body {
  font-family: 'Roboto', sans-serif !important;
/*  display: flex !important;
  flex-direction: column !important;*/
  /*background-color: #F5F5F5 !important;*/
  /*background-color: #efefef !important;*/
}

p {
  font-size: 1.2em;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.thin {
  font-weight: 100;
}

.italic {
  font-style: italic;
}

.font-size-1 {
  font-size: 1em;
}
.font-size-1-2 {
  font-size: 1.2em;
}
.font-size-1-3 {
  font-size: 1.3em;
}
.font-size-1-4 {
  font-size: 1.4em;
}
.font-size-1-5 {
  font-size: 1.5em;
}
.font-size-1-6 {
  font-size: 1.6em;
}
.font-size-1-7 {
  font-size: 1.7em;
}
.font-size-1-8 {
  font-size: 1.8em;
}
.font-size-1-9 {
  font-size: 1.9em;
}
.font-size-2 {
  font-size: 2em;
}
.font-size-3 {
  font-size: 3em;
}

.font-blue {
  color: #2196f3;
}

.font-green {
  color: #38de8a;
}

.font-gray {
  color: #808080;
}

.tititre {
  font-size: 1.4em;
  font-weight: 100;
}

.inline-flex {
  display: inline-flex;
}

.colorwhite {
  color: white !important;
}

.no-decoration {
  text-decoration: none !important;
}

h1 {
  font-weight: 400 !important;
  font-size: 3em !important;
  font-family: 'Rubik', sans-serif !important;
}

#administration {
  position: fixed;
  right: 0;
  background-color: #000;
  padding: 10px 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  top: 10vh;
  z-index:100;
}

#administration>a {
  color: #FFF;
  padding: 10px 20px;
}

@media (max-width: 767px) {
  #administration {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0;
    top: initial;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 30px;
  }

  #administration>a.visible-xs {
    display: flex !important;
    justify-content:center;
    align-items: center;
  }
}

/****NAVBAR*****/

nav {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #c2242a;
  margin-bottom: 71px;
}

#flexbar {
  background-color: #c2242a;
  color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  /*border-bottom: 1px solid #FFF;*/
  font-size: 18px;
  position: fixed;
  top:0;
  z-index: 100;
}

#flexbar + div {
  width: 97%;
  height: 8px;
  background-color: #c2242a;
  border-bottom: 2px solid #FFF;
}

#boutique>a {
  padding: 10px 20px;
  border: 2px solid #FFF;
  border-radius: .2em;
}

#navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#navigation>a,
#boutique>a {
  color: #FFF;
}

#navigation>a {
  margin: 0 25px;
}

@media (max-width: 1300px) and (min-width: 767px) {
  #flexbar {
    padding: 10px 20px;
  }
}

@media (max-width: 1200px) {
  #navigation>a {
    margin: 0 10px;
  }
}

#navigation>div {
  border: 2px solid #FFF;
  border-radius: .2em;
  padding: 10px 20px;
}

#navigation>div>a {
  color: #FFF;
}

#navigation + div {
  position: absolute;
}

@media (max-width: 767px) {
  #navigation + div {
    position: relative;
  }
  #flexbar {
    padding:5px 25px;
    position: relative;
  }
  nav{
    margin-bottom: 0px;
    padding-left: 15px;
    padding-bottom: 5px;
  }
}

#bde {
  position: absolute;
  top: 0px;
  max-height: 70px;
  left: calc(50vw - 35px);
}

.navbar-toggle {
  border: 1px solid #FFF !important;
}

.navbar-toggle .icon-bar {
  background-color: #FFF;
}

nav {
  align-items: flex-start;
}

#nav-icon2 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 0px auto 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 7px;
  width: 50%;
  background: #FFF;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

#label-burger {
 /* border: 1px solid gray;*/
  margin-top: 10px;
}

@media (max-width: 767px) {
  #nav-xs {
    position: fixed;
    width: 85vw;
    height: 100vh;
    left: -85vw;
    bottom: 0;
    display: flex !important;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.97);
    transition: left 1s ease, bottom 1s ease;
  }

  #nav-xs>a {
    width: 100%;
    height: 10vh;
    display: flex;
    /*justify-content: center;*/
    padding-left: 50px;
    align-items: center;
    color: #000;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    font-size: 20px;
  }

  #nav-xs>a.red {
    background-color: #c2242a;
    color: #FFF;
    margin: 5px 10px;
    border: 2px solid black;
    width: calc(100% - 20px);
  }

  #burger:checked + #nav-xs {
    left: 0;
    top: 0;
    z-index: 99999;
    transition: left 1s ease;
  }

  #burger:checked + #nav-xs>label {
    position: fixed;
    bottom: 10px;
    left: 10px;
    animation: move 1s ease;
  }

  #nav-xs>label>#nav-icon2>span {
    background-color: #000;

  }
}


/****ACCUEIL*****/

#presentation {
  width: 100%;
  background-color: #c2242a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0px;
  z-index: 3;
  padding-bottom: 100px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.img>img {
  max-width: 768px;
  width: 100%;
  opacity: 0.7;
}

.blabla {
  color: #FFF;
  position: absolute;
  max-width: 70%;
  padding: 10px 20px;
}

.blabla>div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.blabla>div>img {
  width: 20px;
}

@media (max-width: 767px) {
  .blabla {
    max-width: 100%;
  }
}

.fleche {
  display: inline;
  margin-right: 25px;
}

.containt-trait1 {
  width: 40%;
}

.trait1 {
  width: 40%;
  height: 10px;
  border-top: 2px solid #FFF;
}

.trait2 {
  width: 50%;
  border-bottom: 2px solid #FFF;
  height: 10px;
}

.containt-trait3 {
  width: 30%;
  z-index: 3;
}

.trait3 {
  width: 30%;
  border-top: 2px solid #FFF;
}

 #year {
   color: #FFF;
   font-weight: 400;
   transform: translateX(250px) translateY(-40px);
   z-index: 3;
 }

 /*#oblique {
   background-color: #c2242a;
   height: 200px;
   width: 100vw;
   transform: rotate(5deg) translateX(-32px) translateY(-100px);
   z-index: 1;
   margin-bottom: -110px;
   border-top-right-radius: 40%;
 }*/

 #backshape {
    z-index:1;
    display:block;
    margin-top:-150px;
    width:100%;
    background:white;
    transform:skew(0deg,5deg);
    -webkit-transform:skew(0deg,5deg); /* Safari and Chrome */
  }

  #backshape>#actu {
    display:block;
    margin:50px 0 0 0;
    width:100%;
    transform:skew(0deg,-5deg);
  -webkit-transform:skew(0deg,-5deg);
  }

 .evement {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
 }

 .evement>.gauche {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .evement>.droite {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

@media (max-width: 900px) {
  .evement {
    flex-direction: column;
  }
  .evement>.gauche,
  .evement>.droite {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .evement {
    margin-top: 125px;
  }
}

#actu>div.line-separation:last-child{
  display: none;
}

#actu>div:nth-last-child(2)>div.border-vertical{
  display: none;
}

#actu>.bouton {
  margin: 25px 0 30px 0;
  width: 40%;
  left: calc(50vw - 20%);
  position: relative;
}

@media (max-width: 767px) {
  #actu>.bouton {
    margin: 25px 0 30px 0;
    width: 100%;
    left: 0;
    position: relative;
  }
}

 .titre {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .titrehaut {
   border-top: 3px solid #000;
   width: 50%;
 }

 .titrebas {
   border-bottom: 3px solid #000;
   width: 25%;
   align-self: flex-end;
 }

.titre>h1 {
   font-weight: 500;
 }

.titre>h1>span {
   color: #932529;
 }

.evement>.gauche>p {
  padding: 10px 20px;
  margin-top: 20px;
}

.evement>.droite>img {
  max-width: 700px;
  /*width: 650px;*/
  z-index: 3;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding:0;
}

.evement>.droite>.img-shadow {
  width: 586px;
  height: 251px;
  top: 35px;
  background-color: #FFF;
  position: absolute;
  transform: translateX(-25px);
  z-index: 2;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.affiche-btn {
  background-color: #FFF;
  width: 650px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.affiche-btn>a {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  max-height: 100%;
}

.affiche-btn>a>span {
  font-size: 28px;
  color: #000;
}

.affiche-btn>a:hover {
  text-decoration: none;
}

.affiche-btn>a:hover {
  transform: scale(1.5);
  transition: all .2s ease;
  z-index: 50;
}

.bouton-jolie {
  margin-top: 75px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bouton-jolie>div:nth-child(1) {
  border-top: 2px solid #000;
  width: 50%;
  align-self: flex-start;
  height: 10px;
  transform: translateX(0);
  transition: transform 1s ease;
}

.bouton-jolie>div:nth-child(3) {
  border-bottom: 2px solid #000;
  width: 50%;
  align-self: flex-end;
  height: 10px;
  transform: translateX(0);
  transition: transform 1s ease;
}

.bouton-jolie.white>div:nth-child(1) {
  border-top: 2px solid #FFF;
  transform: translateX(0);
  transition: transform 1s ease;
}

.bouton-jolie.white>div:nth-child(3) {
  border-bottom: 2px solid #FFF;
  transform: translateX(0);
  transition: transform 1s ease;
}

.bouton-jolie + .bouton {
  margin-top: 20px;
}

.bouton-jolie:hover>div:nth-child(1) {
  /*animation: move1 1s ease;*/
  transform: translateX(100%);
  transition: transform 1s ease;
}

.bouton-jolie:hover>div:nth-child(3) {
  transform: translateX(-100%);
  transition: transform 1s ease;
}

.bouton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  padding: 5px 10px;
}

.bouton:hover {
  border: 2px solid #c2242a;
  transition: border 0.2s ease;
}

.bouton>img {
  transform: translateX(0px);
  transition: transform 1s ease;
}

.bouton:hover>img {
  transform: translateX(15px);
  transition: transform 0.3s ease;
}

.bouton.white {
  border: 2px solid #FFF;
}

.bouton.white>a {
  color: #FFF;
}

.bouton>img {
  width: 35px;
  margin-right: 20px;
}

.bouton>a {
  color: #000;
  font-size: 20px;
}

.bouton>a>input {
  border: 0;
  background-color: transparent;
}

.bouton>button>p {
  margin-bottom: 0;
}

.boutonlike {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.boutonlike>a {
   transform: translateY(-50px) translateX(-10px);
  background-color: #FFF;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
 }

.boutonlike>a>img {
  height: 35px;
}

.border-vertical {
  height: 100px;
  width: 20px;
  border-right: 2px solid #000;
  align-self: flex-end;
  margin-right: 10px;
  transform: translateY(20px);
}

.line-separation {
  margin-left: 10%;
  width: calc(90% - 10px);
  height: 20px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.sondage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 767px) {
  .sondage>.titre>h1 {
    font-size: 20px !important;
  }
}

.choix {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.choix1 {
  background-color: #380B0E;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding: 15px 0;
}

.choix2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px 0;
}

.choix>div>img {
  align-self: center;
  max-width: 80%;
}

@media (max-width: 767px) {
  .choix>div>h2 {
    font-size: 20px;
  }
  .choix>div>h5 {
    font-size: 18px;
  }
  .choix1,
  .choix2 {
    align-items: center;
  }
}


.btn-vote {
  align-self: center;
  margin-top: 20px;
  margin-bottom: -20px;
  display: flex;
  flex-direction: column;
}

.btn-vote>.button-vote {
  padding: 5px 40px;
  background-color: #FFF;
  z-index: 5;
}

.btn-vote>.button-vote>a {
  color: #380B0E;
  z-index: 6;
  font-size: 20px;
}

.btn-shadow {
  border: 2px solid #FFF;
  /*position: absolute;*/
  width: 130px;
  height: 42px;
  transform: translateX(-15px) translateY(-30px);
  z-index: 3;
  position: relative;
}

.choix2>.btn-vote>.button-vote {
  padding: 5px 40px;
  background-color: #380B0E;
  z-index: 5;
}

.choix2>.btn-vote>.button-vote>a {
  color: #FFF;
  z-index: 6;
  font-size: 20px;
}

.choix2>.btn-vote>.btn-shadow {
  border: 2px solid #380B0E;
  transform: translateX(15px) translateY(-30px);
}

.img-picture {
  width: 40px;
}

.btn-vote:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/****LOGIN & REGISTRATION*****/

#login-sub {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #FFF;
}

#login, #registration {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#login {
  background-color: #C2242A;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#registration {
  background-color: #3C3E52;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 0 20px 0;
}

#login>h3, #registration>h3
{
  margin-bottom: 30px;
}

#login-sub>div>input {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  height: 25px;
  width: 200px;
}

@media screen and (max-width: 767px) {
  #login-sub {
    flex-direction: column;
  }

  #login-sub>div {
    border-radius: 0;
  }
}


/****MON COMPTE*****/

#mon-compte {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hautrouge {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #c2242a;
  padding-bottom: 150px;
}

#mon-compte>#hautrouge>img {
  max-width: 200px;
  margin: 30px 0;
}

.HELLO {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFF;
  margin: 20px 0;
}

.HELLO>h1 {
  color: #FFF;
}

.HELLO>.titrehaut {
  width: 50%;
  align-self: flex-start;
  border-color: #FFF;
}

.HELLO>.titrebas {
  width: 50%;
  align-self: flex-end;
  height: 10px;
  border-color: #FFF;
}

@media (max-width: 767px) {
  .HELLO>h1 {
    font-size: 25px !important;
  }
}

#info-moi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFF;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  transform: translateY(-100px);
  border-radius: 10px;
  padding: 20px 0;
}

#info-moi>img {
  width: 150px;
  margin-bottom: 50px;
}

#info-moi>form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#info-moi>form>label {
  align-self: flex-start;
}


/****BOUTIQUE*****/

#head-boutique {
  background-color: #c2242a;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
  padding-top: 50px;
}

.blabla2 {
  color: #FFF;
  max-width: 70%;
  padding:10px 20px;
}

.blabla2>div>img {
  width: 20px;
}

#backshape2 {
  z-index:1;
  display:block;
  margin-top:-100px;
  width:100%;
  background:white;
  transform:skew(0deg,-5deg);
  -webkit-transform:skew(0deg,-5deg); /* Safari and Chrome */
}

#backshape2>#list-produit {
  display:flex;
  margin:50px 0 0 0;
  width:100%;
  transform:skew(0deg,5deg);
  -webkit-transform:skew(0deg,5deg);
  padding-top: 80px;
  justify-content:space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.produit {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

.info-produit {
  width: 100%;
  background-color: #380B0E;
  color: #FFF;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 10px;
  z-index:6;
}

.info-produit>img {
  max-width: 100px;
}

.info-produit> a + a {
  color: #FFF;
}

.btn-groupe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFF;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 30px 0 10px 0;
  transform: translateY(-20px);
  z-index:4;
}

.btn-groupe>.bouton-jolie {
  margin-top: 0;
}

.btn-groupe>a {
   display: flex;
  justify-content: center;
  align-items: center;
 }

.btn-groupe>a>span {
  color: #000;
  font-size: 25px;
}

.spacer {
  margin-bottom: 100px;
}

.cart-image {
  width: 100px;
}

/*footer {
  background-color: #f5f5f5;
  padding: 20px 0;
}*/

.table>tbody>tr>td {
  vertical-align: middle;
}

.side-by-side {
  display: inline-block;
}


/****ADMIN*****/

#admin {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
}

.panel-collapse>.panel-body>form {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

.panel>.panel-body>a>span {
  float: right;
  color: #c2242a;
  font-size: 25px;
}

/****SUGGESTION*****/

#suggestion>div>form {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

#suggestion>div>form>textarea {
  margin-bottom: 20px;
}

div.bouton>button {
  background-color: transparent;
  border: 0;
}

#suggestion>div>form>textarea{
  max-width: 100vw;
}

@media screen and (max-width: 767px){
  #suggestion>h2 {
    font-size: 20px;
  }
}


/****PHOTO****/

#photo {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

#thumbnails{

}

/****FOOTER*****/

footer {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer>a>img {
  width: 100px;
  margin-bottom: 20px;
}

#social-network {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#social-network>div {
  width: 50px;
  height: 50px;
  background-color: black;
  transform: rotate(45deg);
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#social-network>div>a {
  width: 40px;
  height: 40px;
}

#social-network>div>a>img {
  max-width: 40px;
  transform: rotate(-45deg);
}

.line-hr {
  height: 10px;
  border-bottom: 2px solid black;
  width: 90%;
  z-index: 10;
}

@media (max-width: 767px) {
  footer>h2 {
    font-size: 25px;
  }
}

#mention {
  padding: 10px 20px;
}
